@import "variables";
@import "mixins";

.admin-menu {
    @include flex_row_center;
    margin: 2px;

    .tri-para {
        text-align: center;
        padding-top: 1rem;
        padding-right: 2rem;
    }

    @media all and (max-width: $sm) {
        flex-wrap: wrap;

        .tri-para {
            width: 100%;
        }

        button,
        a {
            width: 45%;

            @media all and (max-width: $xs) {
                height: 54px;
            }
        }
    }
}

.error-container {
    width: 100%;
    z-index: 99;
    position: fixed;
    top: 35px;
    left: 0;
    @include php_error_pop;
}

.btn {
    @include button;
}

.btn-pink {
    @include pink_button;
}

.btn-gold {
    @include gold_button;
}

.alert-mother {
    color: darken($pink, 6) !important;
    background-color: lighten($pink, 30) !important;
    border-color: lighten($pink, 15) !important;
}

.header_admin {
    background-color: unset;
    position: unset;
    width: unset;
    max-width: unset;
    min-width: unset;
}

.img-admin-list {
    max-height: 25vh;
    object-fit: cover;
    box-sizing: border-box;
}

.puppies-admin-container>.card {
    min-height: 40vh;
    min-width: 270px;
    padding: 0 2px !important;

    .card-body {
        padding-bottom: 2px !important;
    }
}

.repros-admin-container>.bg-pink {
    background-color: lighten($pink, 28);
}

.repros-admin-container>.bg-blue {
    background-color: lighten(lightblue, 5);
}

.repros-admin-container>.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    border: solid 3px black;
    padding: 8px;
    margin: 1%;
    max-height: 60vh;
    min-width: 370px;

    img {
        max-width: 80%;
        max-height: 300px;
    }

    .btn-pink {
        @include pink_button;
        @include main_animation(0.5s, 0.05s);

        &:hover {
            transform: scale(1.1) translateY(-4px);
        }
    }


}

.disable-filter {
    opacity: .5;
}

.btn-container {
    width: 100%;
    @include flex_row_center;
    justify-content: space-between;
    background-color: rgb(221, 221, 221);
    padding: 5px 10px;
    margin: 0;
    border-radius: 5px;

    a,
    button {
        padding: 1rem;
        margin: 0, 25rem;
    }
}

.query-filter-container {
    @include flex_row_center;

    a {
        margin: 2px;
        @include main_animation($delay: 0);

        &:hover {
            transform: scale(1.03);
            color: black;
            background-color: #ccc;
        }
    }
}

.litter-number-info {
    width: 100%;
    font-size: 1em;
    max-height: 1.4em;
    text-align: center;
    padding: 0;
    margin: 0;

}

.dog-parents {
    overflow: hidden;

    .dog-parents-img {
        overflow: hidden;
    }

    .mother-img {
        max-height: 10vh;
        border: solid 1px $pink;
        object-fit: cover;
    }

    .father-img {
        max-height: 10vh;
        border: solid 1px lightblue;
        object-fit: cover;
    }

    .litter-number {
        font-size: .9em;
    }
}

.diapo_crud_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media all and (max-width: $md) {
        grid-template-columns: repeat(1, 1fr);
    }

    .diapo_crud {

        button,
        a {
            position: relative;
            top: 0;
            right: 0;

            >img {
                width: 5%;
                border-radius: 100%;

            }
        }
    }

    img {
        max-width: 250px;
        width: 45%;
        margin: 4px;
    }
}

.news_list_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;

    .news_list_content {
        width: 100%;
        margin: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;

        .text {
            width: 50%;

            .row_title {
                font-weight: bold;
                font-size: 20px;
                text-wrap: nowrap;
                padding: 10px;
                width: 100%;
            }

            .row_description {
                padding: 10px;
            }

            .row_create_date {
                padding: 12px;
            }
        }

        img {
            object-fit: contain;
            height: 200px;
            max-height: 200px;
            overflow: hidden;
        }

        .button_container {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-around;
            align-items: center;
        }

        .badge {
            padding: .5rem;
            margin: 20px;
        }
    }
}