@import "variables";
@import "mixins";

.error-container {
    width: 100%;
    z-index: 99;
    position: fixed;
    top: 35px;
    left: 0;
    @include php_error_pop;
}

.btn-pink {
    @include pink_button;
}

.alert-mother {
    color: darken($pink, 6) !important;
    background-color: lighten($pink, 30) !important;
    border-color: lighten($pink, 15) !important;
}

.header_admin {
    background-color: unset;
    position: unset;
    width: unset;
    max-width: unset;
    min-width: unset;
}

.img-admin-list {
    max-height: 25vh;
    object-fit: cover;
    box-sizing: border-box;
}

.puppies-admin-container>.card {
    min-height: 40vh;
    min-width: 270px;
    padding: 0 2px !important;

    .card-body {
        padding-bottom: 2px !important;
    }
}

.repros-admin-container>.bg-pink {
    background-color: lighten($pink, 28);
}

.repros-admin-container>.bg-blue {
    background-color: lighten(lightblue, 5);
}

.repros-admin-container>.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    border: solid 3px black;
    padding: 2px;
    margin: 1%;
    max-height: 60vh;
    min-width: 370px;

    img {
        max-width: 80%;
    }

    .btn-pink {
        @include pink_button;
        @include main_animation(0.5s, 0.05s);

        &:hover {
            transform: scale(1.1) translateY(-4px);
        }
    }


}

.disable-filter {
    opacity: .5;
}

.btn-container {
    width: 100%;
    @include flex_row_center;
    justify-content: space-between;
    background-color: rgb(221, 221, 221);
    padding: 5px 10px;
    margin: 0;
    border-radius: 5px;

    a,
    button {
        padding: 1rem;
        margin: 0, 25rem;
    }
}

.query-filter-container {
    @include flex_row_center;

    a {
        margin: 2px;
        @include main_animation($delay: 0);

        &:hover {
            transform: scale(1.03);
            color: black;
            background-color: #ccc;
        }
    }
}

.litter-number-info {
    width: 100%;
    font-size: 1em;
    max-height: 1.4em;
    text-align: center;
    padding: 0;
    margin: 0;

}

.dog-parents {
    overflow: hidden;

    .dog-parents-img {
        overflow: hidden;
    }

    .mother-img {
        max-height: 10vh;
        border: solid 1px $pink;
        object-fit: cover;
    }

    .father-img {
        max-height: 10vh;
        border: solid 1px lightblue;
        object-fit: cover;
    }

    .litter-number {
        font-size: .9em;
    }
}