@import "_variables";
@import "_mixins";

.puppy_dispo {
  text-align: center;
  margin-bottom: 10px;

  h5 {
    margin-block-start: 0;
    margin-block-end: 0;
    color: $title-second-color;
    font-size: x-large;
    font-style: italic;
  }

  span {
    color: #000;
    font-weight: 200;
    font-size: .8rem;
  }

  p {
    text-align: center;
    margin-block-start: 0;
    font-style: italic;
  }
}

.puppies_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.journal_puppy {
  text-align: center;
  background-color: #E4E4E4;

  h3 {
    font-size: x-large;
    color: $title-second-color;
    text-shadow: $shadow-title lighten(black, 50);
    margin: 10px 0;
    padding: 0;
    font-weight: bold;
  }

  h4 {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    font-size: x-large;
    font-weight: 400;
  }
}

.section_litter {
  width: 100%;
  margin: 10px auto;
  padding: 0;
  border: $title-second-color 2px solid;
  box-shadow: $title-second-color $shadow-title;
  border-radius: 15px;

  @media all and (max-width: $md) {
    border: 0;
    box-shadow: unset;
    border-top: $title-second-color 1px solid;
    border-bottom: $title-second-color 1px solid;
    border-radius: 0;
    margin: 0 auto;
  }

  @media all and (max-width: $sm) {
    padding: 1px;
  }

  h1,
  h2,
  h3 {
    text-align: center;
    color: $title-second-color;
    text-decoration: underline;
    font-size: x-large;
  }

  >.gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
}

.litters-container {
  width: 100%;
  min-width: 85%;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  background: linear-gradient(180deg, lighten($violet, 20) 30%, #cfcfcf);

  @include flex_row_around;
  flex-wrap: wrap;
  padding-bottom: 12px;
  overflow: hidden;
  font-family: monospace, sans-serif;

  h4 {
    color: darken(white, 8);
    text-shadow: 2px 2px 5px $grey;
    text-wrap: nowrap;
    text-decoration: underline white;
    text-align: center;
    font-family: Serif;

    @media all and (max-width: $md) {
      text-wrap: balance;
    }
  }

  .card {
    align-self: flex-start;
  }

  .parents {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    width: 100%;

    .mother {
      border-right: solid 1px black;

      @media all and (min-width: $md) {
        border-right: none;
      }
    }

    .mother,
    .father {
      box-sizing: border-box;
      margin-top: 0;
      margin-bottom: 20px;
      max-width: 50%;

      .parent-img-div {
        max-height: 80px;
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        box-sizing: border-box;


        @media all and (min-width: $xs) {
          max-height: 140px;
        }

        @media all and (min-width: $md) {
          max-height: 165px;
        }

        @media all and (min-width: $lg) {
          max-height: 200px;
        }

        img {
          @include img_load_top($duration: 1.8s, $delay: 0s);
          object-fit: contain;
          width: 95%;
          margin: 10px;
          align-self: center;
          @include main_animation($delay: 0s);

          &:hover {
            transform: scale(1.2);
          }
        }
      }

      section {
        max-width: 410px;
        width: 100%;
        height: 100%;
        @include flex_col;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: nowrap;
        margin: auto;
        overflow: hidden;
      }

      p {
        width: 100%;
        padding-left: 5px;

        @media all and (min-width: $sm) {
          width: 80%;
          padding-left: 20px;
        }
      }

      .dog_name_breeder {
        width: 100%;
        text-align: center;
        font-style: italic;

        .dog_name {
          font-style: normal;
        }
      }

      .dog_description {
        width: 100%;
        padding: auto;
        margin: 0;
      }

      a,
      button {
        color: white;
        font-weight: bold;
        border-radius: unset;
        text-decoration: none;
      }

      .lof-select-link {
        max-width: 60%;
        overflow: hidden;
        text-align: center;
        text-wrap: nowrap;
        margin: 3px;
        padding: 5px;

        text-shadow: 1px 1px 3px black;
        text-decoration: underline white;
        @include main_animation($duration : .5s, $delay :0s);

        &:hover {
          transform: scale(1.03);
        }

        @media all and (max-width: $sm) {
          padding-left: 2px;
          padding-right: 2px;
        }

      }
    }

    .pills {
      position: relative;
      bottom: 0;
      @include flex_row_around;
      align-self: stretch;
      flex-wrap: wrap;
      flex-grow: auto;
      flex-shrink: 1;
    }

    .adn-pill,
    .champion-pill {
      padding: 5px;
      margin: 3px;
      font-weight: bold;
      text-wrap: nowrap;
      text-shadow: 1px 1px 3px black;
      letter-spacing: .15rem;
    }

    .adn-pill {
      color: $adn-color;
      text-decoration: underline $adn-color;
    }

    .champion-pill {
      color: $champion-color;
      text-decoration: underline $champion-color;
    }
  }

  img {
    max-height: 250px;
  }
}

.puppies_container {

  .gallery_php {
    @include flex_row_around;
    align-items: flex-start;
    flex-wrap: wrap;
    box-sizing: border-box;


    .card {
      @include flex_col;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: nowrap;
      flex-grow: 1;
      box-sizing: border-box;

      border-radius: unset;
      margin: 7px 10px;
      padding-top: 5px;
      background: transparent;
      flex-basis: 330px;
      min-width: 330px;
      max-width: 370px;
      border-radius: 10px;
      border: solid 1px darken(white, 20);


      transition: border .8s ease, box-shadow .8s ease, border-radius .8s ease;

      &:hover {
        border-radius: unset;
        border: solid 1px black;
        box-shadow: grey 2px 2px 50px;

      }

      img {
        max-width: 320px;
        box-sizing: border-box;
        object-fit: contain;
        position: relative;
        left: -1px;
        height: 250px;
        margin-top: 2px;
      }

      figure {
        box-sizing: border-box;
        width: 100%;
        height: 500px;
        max-width: unset;
        margin: auto 0;
        color: black;

      }

      figcaption {


        h4 {
          margin: 0;
          margin-bottom: 5px;
          text-wrap: balance;
          flex-grow: 1;
        }

        p {
          margin: unset;
        }

        p.description {
          padding: 20px 5%;
        }

        p.description.text-left {
          padding-left: 5px;
          text-align: left;
        }

        .labels {
          h4 {
            min-width: 40%;
            max-width: 42%;
          }

          h4>span {
            width: 100%;
          }

          p {
            width: 40%;
          }
        }

        .bg-error {
          text-decoration: underline red;
          background-color: red;
        }
      }
    }

    .badge-blue {
      color: black;
      text-shadow: 2px 2px 6px black;
      background-color: lightblue !important;
      margin: 2px 0;
      margin-right: 0.2rem;

    }

    .badge-pink {
      color: white;
      text-shadow: 2px 2px 5px black;
      background-color: lighten(lightcoral, 5) !important;
      margin: 2px;
      margin-right: 0.2rem;
    }

    .text-pink {
      color: lighten(lightcoral, 10) !important;
    }

    .text-blue {
      color: lightblue !important;
    }

  }

  figure {
    max-width: 400px;
    text-align: center;
    color: rgb(66, 65, 65);
    font-size: 1.0rem;
    font-weight: bold;
    margin: 25px;
  }

  figcaption {
    padding: 10px;

    p {
      margin-bottom: 0;
    }
  }
}

.puppies_img {
  width: auto;
  max-width: 250px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px darkgrey;
}

#puppies_articles_container {
  text-align: center;
  font-size: .9rem;
  font-weight: 600;
  font-style: italic;

  h5 {
    color: $title-second-color;
    text-align: center;
    font-style: italic;
    font-size: 1.3rem;
  }

  p {
    margin: 30px 10px;
  }
}

.puppies_articles_img {
  max-width: 700px;

  flex-wrap: nowrap;
  margin: auto;
}

.puppies_articles_box {
  margin-top: 30px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $pink;
}

.img_medium_vertical {
  width: calc(30% - 10px);
  border: solid black 5px;
}

.img_medium_horizontal {
  width: calc(45% - 10px);
  border: solid black 5px;
}

.puppy_infos {
  text-align: center;
  @include flex_col_center;
}

#next_naissance {
  h5 {
    font-weight: bold;
    text-align: center;
    font-size: 1rem;
    color: $title-second-color;
  }

  p {
    font-weight: bold;
    text-align: center;
  }
}

.section_infos {
  h6 {
    color: $title-second-color;
    font-weight: bold;
    font-style: unset;
    font-size: 1rem;
    margin-bottom: 20px;
  }

  p {
    width: 90%;
    margin: auto;
  }
}


.div_rose {
  background-color: lighten($title-second-color, 10);
  color: white;
  font-weight: bold;
  padding: 20px 0;

  a {
    color: beige;
    text-decoration: unset;
    font-size: 1.2rem;
  }

  h4 {
    font-size: 1.8rem;
    font-weight: bold;
  }

  @media all and (max-width: $md) {
    address {
      padding: 5px 15px;

      a {
        font-size: 1em;
      }
    }
  }
}