@import "variables";

address {
  margin: auto;
}

.content {
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .contact_buttons {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 30px 0;
    width: 100%;

    @media all and (min-width: $xl) {
      width: 60%;
    }
  }

  h3,
  h4 {
    width: 100%;
    text-align: center;
    font-size: 2em;
    font-style: italic;
    color: black;
    text-shadow: 2px 2px 5px darken($title-second-color, 25);
    text-decoration: underline;
  }

  .btn {
    min-width: 160px;
    max-width: 280px;
    flex-basis: 25%;


    @media all and (max-width: $xs) {
      min-width: unset;
      width: 120px;
      font-size: 0.85em;
      margin: 3px;
      flex-basis: unset;
    }

  }

  @media all and (max-width: $xs) {
    .fa-map-marker {
      text-indent: -10px;
    }
  }
}

.where_is_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: #ecb7d2;
  color: rgb(71, 71, 71);
  width: 100%;
  border-top: #000 solid 1px;

}

.where_is_content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  margin: auto;

  @media all and (max-width: $lg) {
    align-items: center;
  }

  @media all and (max-width: $sm) {
    flex-direction: column;
    justify-content: flex-start;
  }

  .diapo_contact {
    box-sizing: border-box;
    width: 30%;
    min-width: 200px;

    @media all and (max-width: $sm) {
      width: 50%;
    }

    img {
      width: auto;
      height: auto;
      min-width: unset;
      min-height: unset;
      max-width: 97%;
      max-height: 230px;
      border-radius: 5%;
      border: solid black 1px;
      box-shadow: 3px 2px 2px black;
      box-sizing: border-box;
      margin: 15px auto;
    }

    .carousel-item.active {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .carousel-caption {
      padding-bottom: 20px;
      text-align: center;
      font-weight: bold;
      margin: auto;
      position: relative;
      left: 0;
      bottom: 20px;
      color: $grey;
    }
  }
}

#g_map {
  width: 40%;
  min-height: 250px;
  min-width: 300px;

  text-align: center;
  font-weight: bold;
  font-style: italic;

  @media all and (max-width: $sm) {
    width: unset;
  }

  iframe {
    width: 90%;
    height: auto;
    min-width: 250px;
    min-height: 250px;
    border: unset;

  }
}

.div_address {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  font-weight: bold;
  font-size: 1.1em;
  background-color: #fff;
  width: 100%;

  img {
    max-width: 30%;
    max-height: 230px;
    border-radius: 5%;
    border: solid black 1px;
    box-shadow: 3px 2px 2px black;
    box-sizing: border-box;
    margin: 15px auto;
  }

  @media all and (max-width: $xs) {
    >img {
      display: none;
    }
  }
}