$violet : #8a4784;
$pink : #C69;
$beige : beige;
$grey : grey;
$adn-color : rgb(76, 155, 181);
$champion-color : rgb(48, 139, 48);

$title-primary-color : beige;
$title-second-color : $violet;
$head-color : $title-second-color;
$head-bg : $title-second-color;
$text-color : #000;

$font: 'times new roman', 'Arial', sans-serif;
$title-font: 'Playfair Display', 'Oswald', sans-serif;

$shadow-title : 5px 5px 5px;

$xs : 380px;
$sm : 576px;
$md : 768px;
$lg : 992px;
$xl : 1200px;

$nav-height: 58px;