@charset "UTF-8";
.highlight-puppy-container {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  box-sizing: content-box;
}
@media all and (max-width: 768px) {
  .highlight-puppy-container {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: #bb7cb6 solid 1px;
    border-radius: 20px;
    padding: 20px;
  }
}

.highlight-puppy-img {
  width: 60%;
  flex-direction: column;
}
@media all and (max-width: 576px) {
  .highlight-puppy-img {
    width: 90%;
  }
}
@media all and (max-width: 380px) {
  .highlight-puppy-img {
    width: 99%;
  }
}
.highlight-puppy-img img {
  border-radius: 20px;
  box-shadow: 2px 2px 5px darkgrey;
}

.highlight-puppy-description {
  min-width: 70%;
  margin: 15px;
}
.highlight-puppy-description h4 {
  color: #9b5094;
  font-style: italic;
  text-shadow: #251323 1px 1px 2px;
}
@media all and (max-width: 768px) {
  .highlight-puppy-description {
    min-width: 70%;
  }
}
@media all and (min-width: 768px) and (max-width: 1200px) {
  .highlight-puppy-description {
    min-width: 50%;
    max-width: 55%;
  }
}

.carousel-item {
  transition-duration: 0.9s;
}

.index_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
@media all and (min-width: 992px) {
  .index_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
.index_content h2 {
  text-decoration: underline;
}
@media all and (min-width: 380px) {
  .index_content h2 {
    white-space: nowrap;
  }
}
.index_content h2, .index_content h3 {
  text-align: center;
  color: #572d54;
}
.index_content h2 a, .index_content h3 a {
  color: #572d54;
}

#index_bb {
  width: 70%;
  max-width: 500px;
}
@media all and (max-width: 768px) {
  #index_bb {
    max-width: 350px;
  }
}

.index__bb__dispo {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 1;
  grid-row: 1;
}
.index__bb__dispo .btn {
  scale: 1.5;
}
@media all and (max-width: 768px) {
  .index__bb__dispo .btn {
    scale: 1.2;
  }
}
@media all and (min-width: 992px) {
  .index__bb__dispo {
    height: 100%;
  }
}
.index__bb__dispo .carousel-inner {
  border-radius: 20px;
}
@media all and (min-width: 992px) {
  .index__bb__dispo .carousel-inner {
    max-height: 400px;
    margin: auto;
  }
}
.index__bb__dispo img {
  margin-top: 15px;
  margin-bottom: 25px;
  width: 100%;
  border-radius: 20px;
  border: #8a4784 2px solid;
}
@media all and (min-width: 992px) {
  .index__bb__dispo img {
    max-height: 400px;
  }
}

.index__expo__result {
  grid-column: 2;
  grid-row: 1/4;
  padding: 10px;
  padding-bottom: 50px;
  /* Propriété à developper pour afficher des images larges mais pas trop hautes - Design Review
    div {
      max-height: 220px;
      border: solid 2px red;
      overflow: hidden;
    } */
}
.index__expo__result img {
  max-width: 75%;
  max-height: 480px;
}
@media all and (max-width: 768px) {
  .index__expo__result img {
    max-width: 90%;
  }
}

.fr3 {
  grid-column: 1;
  grid-row: 2;
  padding-bottom: 50px;
}
.fr3 .player-css {
  width: 500px;
  height: 400px;
  max-width: 90%;
  margin: 20px;
}

.index_accessories {
  grid-column: 1;
  grid-row: 3;
  padding-bottom: 50px;
}
.index_accessories img {
  max-width: 90%;
  width: 550px;
  border-radius: 20px;
  border: solid goldenrod 2px;
}

.annonce_bb_nés {
  font-size: 1.2em;
}

address {
  margin: auto;
}

.content {
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.content .contact_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 30px 0;
  width: 100%;
}
@media all and (min-width: 1200px) {
  .content .contact_buttons {
    width: 60%;
  }
}
.content h3, .content h4 {
  width: 100%;
  text-align: center;
  font-size: 2em;
  font-style: italic;
  color: black;
  text-shadow: 2px 2px 5px #361c33;
  text-decoration: underline;
}
.content .btn {
  min-width: 160px;
  max-width: 280px;
  flex-basis: 25%;
}
@media all and (max-width: 380px) {
  .content .btn {
    min-width: unset;
    width: 120px;
    font-size: 0.85em;
    margin: 3px;
    flex-basis: unset;
  }
}
@media all and (max-width: 380px) {
  .content .fa-map-marker {
    text-indent: -10px;
  }
}

.where_is_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #ecb7d2;
  color: rgb(71, 71, 71);
  width: 100%;
  border-top: #000 solid 1px;
}

.where_is_content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  margin: auto;
}
@media all and (max-width: 992px) {
  .where_is_content {
    align-items: center;
  }
}
@media all and (max-width: 576px) {
  .where_is_content {
    flex-direction: column;
    justify-content: flex-start;
  }
}
.where_is_content .diapo_contact {
  box-sizing: border-box;
  width: 30%;
  min-width: 200px;
}
@media all and (max-width: 576px) {
  .where_is_content .diapo_contact {
    width: 50%;
  }
}
.where_is_content .diapo_contact img {
  width: auto;
  height: auto;
  min-width: unset;
  min-height: unset;
  max-width: 97%;
  max-height: 230px;
  border-radius: 5%;
  border: solid black 1px;
  box-shadow: 3px 2px 2px black;
  box-sizing: border-box;
  margin: 15px auto;
}
.where_is_content .diapo_contact .carousel-item.active {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.where_is_content .diapo_contact .carousel-caption {
  padding-bottom: 20px;
  text-align: center;
  font-weight: bold;
  margin: auto;
  position: relative;
  left: 0;
  bottom: 20px;
  color: grey;
}

#g_map {
  width: 40%;
  min-height: 250px;
  min-width: 300px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
}
@media all and (max-width: 576px) {
  #g_map {
    width: unset;
  }
}
#g_map iframe {
  width: 90%;
  height: auto;
  min-width: 250px;
  min-height: 250px;
  border: unset;
}

.div_address {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  font-size: 1.1em;
  background-color: #fff;
  width: 100%;
}
.div_address img {
  max-width: 30%;
  max-height: 230px;
  border-radius: 5%;
  border: solid black 1px;
  box-shadow: 3px 2px 2px black;
  box-sizing: border-box;
  margin: 15px auto;
}
@media all and (max-width: 380px) {
  .div_address > img {
    display: none;
  }
}

.puppy_dispo {
  text-align: center;
  margin-bottom: 10px;
}
.puppy_dispo h5 {
  margin-block-start: 0;
  margin-block-end: 0;
  color: #8a4784;
  font-size: x-large;
  font-style: italic;
}
.puppy_dispo span {
  color: #000;
  font-weight: 200;
  font-size: 0.8rem;
}
.puppy_dispo p {
  text-align: center;
  margin-block-start: 0;
  font-style: italic;
}

.puppies_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.journal_puppy {
  text-align: center;
  background-color: #E4E4E4;
}
.journal_puppy h3 {
  font-size: x-large;
  color: #8a4784;
  text-shadow: 5px 5px 5px gray;
  margin: 10px 0;
  padding: 0;
  font-weight: bold;
}
.journal_puppy h4 {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-size: x-large;
  font-weight: 400;
}

.section_litter {
  width: 90%;
  margin: 10px auto;
  padding: 15px;
  border: #8a4784 2px solid;
  box-shadow: #8a4784 5px 5px 5px;
  border-radius: 15px;
}
@media all and (max-width: 768px) {
  .section_litter {
    border: 0;
    box-shadow: unset;
    border-top: #8a4784 1px solid;
    border-bottom: #8a4784 1px solid;
    border-radius: 0;
    margin: 0 auto;
  }
}
.section_litter h1, .section_litter h2, .section_litter h3 {
  text-align: center;
  color: #8a4784;
  text-decoration: underline;
  font-size: x-large;
}
.section_litter > .gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.puppies_container figure {
  max-width: 400px;
  text-align: center;
  color: rgb(66, 65, 65);
  font-size: 1rem;
  font-weight: bold;
  margin: 25px;
}
.puppies_container figcaption {
  padding: 10px;
}
.puppies_container figcaption p {
  margin-bottom: 0;
}

.puppies_img {
  width: auto;
  max-width: 250px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px darkgrey;
}

#puppies_articles_container {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 600;
  font-style: italic;
}
#puppies_articles_container h5 {
  color: #8a4784;
  text-align: center;
  font-style: italic;
  font-size: 1.3rem;
}
#puppies_articles_container p {
  margin: 30px 10px;
}

.puppies_articles_img {
  max-width: 700px;
  flex-wrap: nowrap;
  margin: auto;
}

.puppies_articles_box {
  margin-top: 30px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #C69;
}

.img_medium_vertical {
  width: calc(30% - 10px);
  border: solid black 5px;
}

.img_medium_horizontal {
  width: calc(45% - 10px);
  border: solid black 5px;
}

.puppy_infos {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#next_naissance h5 {
  font-weight: bold;
  text-align: center;
  font-size: 1rem;
  color: #8a4784;
}
#next_naissance p {
  font-weight: bold;
  text-align: center;
}

.section_infos h6 {
  color: #8a4784;
  font-weight: bold;
  font-style: unset;
  font-size: 1rem;
  margin-bottom: 20px;
}
.section_infos p {
  width: 90%;
  margin: auto;
}

.div_rose {
  background-color: #aa5aa3;
  color: white;
  font-weight: bold;
  padding: 20px 0;
}
.div_rose a {
  color: beige;
  text-decoration: unset;
  font-size: 1.2rem;
}
.div_rose h4 {
  font-size: 1.8rem;
  font-weight: bold;
}
@media all and (max-width: 768px) {
  .div_rose address {
    padding: 5px 15px;
  }
  .div_rose address a {
    font-size: 1em;
  }
}

.xl {
  max-width: 380px;
}
@media all and (max-width: 576px) {
  .xl {
    max-width: 280px;
  }
}

/* Menu */
.img-admin-list {
  max-height: 25vh;
  max-width: 98%;
  -o-object-fit: cover;
     object-fit: cover;
  box-sizing: border-box;
}

.puppies-admin-container > .card {
  min-height: 40vh;
  max-height: 70vh;
}

.form-control {
  background-color: #000;
}

html {
  font-size: 14px;
}

body {
  background-color: #1a1a1a;
  font-family: Serif;
  box-sizing: border-box;
}
body header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
body header .menu {
  margin-top: 0;
  padding-top: 2px;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  font-weight: bold;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
@media all and (max-width: 768px) {
  body header .menu {
    font-size: 0.9em;
  }
}
body header .menu .nav-link, body header .menu .social {
  height: 58px;
  padding: 2px;
}
body header .menu .nav-link .bi, body header .menu .social .bi {
  color: beige;
  font-size: xx-large;
}
body header .menu .nav-link .bi:hover, body header .menu .social .bi:hover {
  color: goldenrod;
}
@media all and (max-width: 576px) {
  body header .menu .nav-link .bi, body header .menu .social .bi {
    font-size: x-large;
  }
}
body header .menu .nav-link {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  flex-wrap: nowrap;
  align-items: center;
}
body header .menu .social {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
body header .menu span {
  font-size: large;
}
@media all and (max-width: 768px) {
  body header .menu span {
    display: none;
  }
}
body header .menu .menu_link {
  color: #73264d;
  list-style-type: none;
  text-decoration: none;
  transition: all 0.3s ease-in;
  padding-right: 5px;
  padding-left: 5px;
}
@media all and (max-width: 325px) {
  body header .menu .menu_link {
    padding: 2px;
  }
}
@media all and (max-width: 300px) {
  body header .menu .menu_link {
    padding: 1px;
  }
}
@media all and (min-width: 992px) {
  body header .menu .menu_link {
    padding-left: 8px;
    padding-right: 8px;
  }
}
body header .menu .menu_link:hover {
  font-weight: bold;
  text-decoration: underline;
  transform: scale(1.1) translateY(-2px);
}
body header {
  background-color: #000;
  color: beige;
}
body header .menu {
  color: beige;
}
body header .menu .menu_link {
  color: beige;
}
body header .menu .menu_link:hover {
  color: goldenrod;
}

.container-fluid {
  margin-top: 58px;
  padding: 0;
}

main {
  background-color: #e6e6e6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1em auto;
  font-weight: bold;
  line-height: 1.3;
}

h1 {
  font-family: "Playfair Display", "Oswald", sans-serif;
  font-size: 2rem;
  text-align: center;
  text-shadow: 5px 5px 8px black;
  white-space: nowrap;
}
h1 span {
  white-space: nowrap;
}
h1 img {
  max-width: 48px;
  max-height: 48px;
  padding: 0;
}
@media all and (min-width: 576px) {
  h1 {
    font-size: 2rem;
  }
}
@media all and (min-width: 768px) {
  h1 {
    font-size: 2.3rem;
  }
}
@media all and (min-width: 992px) {
  h1 {
    font-size: 2.4rem;
  }
}
@media all and (min-width: 1200px) {
  h1 {
    font-size: 3.2rem;
  }
  h1 img {
    max-width: 68px;
    max-height: 68px;
  }
}

img {
  vertical-align: unset;
}

@media all and (max-width: 768px) {
  p {
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.bandeau_title {
  background-color: #8a4784;
  color: #FFC;
  padding: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  width: auto;
}
@media all and (max-width: 576px) {
  .bandeau_title section {
    padding-left: 15px;
    text-align: center;
    width: 100%;
  }
  .bandeau_title h1 {
    white-space: normal;
  }
}
.bandeau_title .logo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
@media all and (max-width: 768px) {
  .bandeau_title .logo {
    display: none;
  }
}
.bandeau_title .logo img {
  border: none;
  width: 154px;
  height: 101px;
}
.bandeau_title .logo .slogan {
  font-style: italic;
  font-family: "Oswald", sans-serif;
  text-shadow: 5px 5px 5px black;
  white-space: nowrap;
  font-size: 1.2rem;
}
.bandeau_title section {
  padding-left: 15px;
  text-align: center;
}
.bandeau_title section h2 {
  font-family: "Playfair Display", "Oswald", sans-serif;
  text-shadow: 5px 5px 5px black;
}
.bandeau_title section a {
  color: #FFC;
}/*# sourceMappingURL=main.css.map */