@import "component/_variables";
@import "component/_highlight-puppy";
@import "component/_index";

html {
  font-size: 14px;

}
body {
  background-color: lighten(#000, 10);

  font-family: Serif;

}

main {
  background-color: darken(#fff, 10);
}

h1, h2, h3, h4, h5, h6 {
  margin: 1em auto;
  font-weight: bold;
  line-height: 1.3;
}

img {
  vertical-align: unset;
}
