@import "component/variables";
@import "component/highlight-puppy";

html {
  font-size: 14px;

}
body {

  font-family: Serif;

}

h1, h2, h3, h4, h5, h6 {
  margin: 1em auto;
  font-weight: bold;
  line-height: 1.3;
}

img {
  vertical-align: unset;
}
