@import "component/_variables";
@import "component/_highlight-puppy";
@import "component/_index";
@import "component/_bb_dispo";
@import "component/_mixins";


html {
  font-size: 14px;

}
body {
  background-color: lighten(#000, 10);
  font-family: Serif;
  @include dark_menu;

}

main {
  background-color: darken(#fff, 10);
}

h1, h2, h3, h4, h5, h6 {
  margin: 1em auto;
  font-weight: bold;
  line-height: 1.3;
}
h1 {
  font-family: $title-font;
  font-size: 2rem;
  text-align: center;
  text-shadow: 5px 5px 8px black;
  white-space: nowrap;
  span {
    white-space: nowrap;
  }
  img {
    max-width: 48px;
    max-height: 48px;
    padding: 0;
  }
  @media all and (min-width: $sm) {
    font-size: 2rem;
  }
  @media all and (min-width: $md) {
    font-size: 2.3rem;
  }
  @media all and (min-width: $lg) {
    font-size: 2.4rem;

  }
  @media all and (min-width: $xl) {
    font-size: 3.2rem;
    img {
      max-width: 68px;
      max-height: 68px;
    }
  }
}

img {
  vertical-align: unset;
}

.bandeau_title {
  background-color: $head-bg;
  color: #FFC;
  padding: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  width: auto;

  .logo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items : center;
    @media all and (max-width: $md) {
      display: none;
    }
      img {
        border: none;
        width: 154px;
        height: 101px;

    }
    .slogan {
      font-style: italic;
      font-family: "Oswald", sans-serif;
      text-shadow: $shadow-title black;
      white-space: nowrap;
      font-size: 1.2rem;

    }
  }
  section {
    padding-left: 15px;
    text-align: center;
    h2 {
      font-family: $title-font;
      text-shadow: $shadow-title black;
    }
    a {
      color: #FFC;
    }
  }
}
.journal_puppy {
  text-align: center;
  background-color: #E4E4E4;
  h3 {
    font-size: x-large;
    color: $violet;
    text-shadow: $shadow-title lighten(black, 50);
    margin: 10px 0;
    padding: 0;
    font-weight: bold;

  }
  h4 {
    margin: 0;
    margin-bottom: 15px ;
    padding: 0;
    font-size: x-large;
    font-weight: 400;
  }
}