@charset "UTF-8";
.highlight-puppy-container {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  box-sizing: content-box;
}
@media all and (max-width: 768px) {
  .highlight-puppy-container {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: #bb7cb6 solid 1px;
    border-radius: 20px;
    padding: 20px;
  }
}

.highlight-puppy-img {
  width: 60%;
  flex-direction: column;
}
@media all and (max-width: 576px) {
  .highlight-puppy-img {
    width: 90%;
  }
}
@media all and (max-width: 380px) {
  .highlight-puppy-img {
    width: 99%;
  }
}
.highlight-puppy-img img {
  border-radius: 20px;
  box-shadow: 2px 2px 5px darkgrey;
}

.highlight-puppy-description {
  min-width: 70%;
  margin: 15px;
}
.highlight-puppy-description h4 {
  color: #9b5094;
  font-style: italic;
  text-shadow: #251323 1px 1px 2px;
}
@media all and (max-width: 768px) {
  .highlight-puppy-description {
    min-width: 70%;
  }
}
@media all and (min-width: 768px) and (max-width: 1200px) {
  .highlight-puppy-description {
    min-width: 50%;
    max-width: 55%;
  }
}

.carousel-item {
  transition-duration: 0.9s;
}

.index_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
@media all and (min-width: 992px) {
  .index_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
.index_content h2 {
  text-decoration: underline;
}
@media all and (min-width: 380px) {
  .index_content h2 {
    white-space: nowrap;
  }
}
.index_content h2,
.index_content h3 {
  text-align: center;
  color: #572d54;
}
.index_content h2 a,
.index_content h3 a {
  color: #572d54;
}

#index_bb {
  width: 70%;
  max-width: 500px;
}
@media all and (max-width: 768px) {
  #index_bb {
    max-width: 350px;
  }
}

.index__bb__dispo {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 1;
  grid-row: 1;
}
.index__bb__dispo .btn {
  scale: 1.5;
}
@media all and (max-width: 768px) {
  .index__bb__dispo .btn {
    scale: 1.2;
  }
}
@media all and (min-width: 992px) {
  .index__bb__dispo {
    height: 100%;
  }
}
.index__bb__dispo .carousel-inner {
  border-radius: 20px;
}
@media all and (min-width: 992px) {
  .index__bb__dispo .carousel-inner {
    max-height: 400px;
    margin: auto;
  }
}
.index__bb__dispo img {
  margin-top: 15px;
  margin-bottom: 25px;
  width: 100%;
  border-radius: 20px;
  border: #8a4784 2px solid;
}
@media all and (min-width: 992px) {
  .index__bb__dispo img {
    max-height: 400px;
  }
}

.index__expo__result {
  grid-column: 2;
  grid-row: 1/4;
  padding: 10px;
  padding-bottom: 50px;
  /* Propriété à developper pour afficher des images larges mais pas trop hautes - Design Review
  div {
    max-height: 220px;
    border: solid 2px red;
    overflow: hidden;
  } */
}
.index__expo__result img {
  max-width: 75%;
  max-height: 480px;
}
@media all and (max-width: 768px) {
  .index__expo__result img {
    max-width: 90%;
  }
}

.fr3 {
  grid-column: 1;
  grid-row: 2;
  padding-bottom: 50px;
}
.fr3 .player-css {
  width: 500px;
  height: 400px;
  max-width: 90%;
  margin: 20px;
}

.index_accessories {
  grid-column: 1;
  grid-row: 3;
  padding-bottom: 50px;
}
.index_accessories img {
  max-width: 90%;
  width: 550px;
  border-radius: 20px;
  border: solid goldenrod 2px;
}

.annonce_bb_nés {
  font-size: 1.2em;
}

.sommaire_content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  margin: auto;
}
.sommaire_content img {
  max-width: 90%;
}
.sommaire_content .sommaire_bb_dispo {
  width: 100%;
  text-align: center;
}
.sommaire_content .sommaire_bb_dispo .sommaire_img_bb {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin: auto;
}
.sommaire_content .sommaire_bb_dispo .sommaire_img_bb img {
  max-width: 90%;
}
@media all and (min-width: 768px) {
  .sommaire_content .sommaire_bb_dispo .sommaire_img_bb {
    flex-direction: row;
    justify-content: space-around;
  }
  .sommaire_content .sommaire_bb_dispo .sommaire_img_bb img {
    max-width: 70%;
  }
  .sommaire_content .sommaire_bb_dispo .sommaire_img_bb p {
    max-width: 400px;
  }
}
.sommaire_content .sommaire_informations {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: auto;
}
@media all and (min-width: 576px) {
  .sommaire_content .sommaire_informations {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

address {
  margin: auto;
}

.content {
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.content .contact_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 30px 0;
  width: 100%;
}
@media all and (min-width: 1200px) {
  .content .contact_buttons {
    width: 60%;
  }
}
.content h3,
.content h4 {
  width: 100%;
  text-align: center;
  font-size: 2em;
  font-style: italic;
  color: black;
  text-shadow: 2px 2px 5px #361c33;
  text-decoration: underline;
}
.content .btn {
  min-width: 160px;
  max-width: 280px;
  flex-basis: 25%;
}
@media all and (max-width: 380px) {
  .content .btn {
    min-width: unset;
    width: 120px;
    font-size: 0.85em;
    margin: 3px;
    flex-basis: unset;
  }
}
@media all and (max-width: 380px) {
  .content .fa-map-marker {
    text-indent: -10px;
  }
}

.where_is_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #ecb7d2;
  color: rgb(71, 71, 71);
  width: 100%;
  border-top: #000 solid 1px;
}

.where_is_content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  margin: auto;
}
@media all and (max-width: 992px) {
  .where_is_content {
    align-items: center;
  }
}
@media all and (max-width: 576px) {
  .where_is_content {
    flex-direction: column;
    justify-content: flex-start;
  }
}
.where_is_content .diapo_contact {
  box-sizing: border-box;
  width: 30%;
  min-width: 200px;
}
@media all and (max-width: 576px) {
  .where_is_content .diapo_contact {
    width: 50%;
  }
}
.where_is_content .diapo_contact img {
  width: auto;
  height: auto;
  min-width: unset;
  min-height: unset;
  max-width: 97%;
  max-height: 230px;
  border-radius: 5%;
  border: solid black 1px;
  box-shadow: 3px 2px 2px black;
  box-sizing: border-box;
  margin: 15px auto;
}
.where_is_content .diapo_contact .carousel-item.active {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.where_is_content .diapo_contact .carousel-caption {
  padding-bottom: 20px;
  text-align: center;
  font-weight: bold;
  margin: auto;
  position: relative;
  left: 0;
  bottom: 20px;
  color: grey;
}

#g_map {
  width: 40%;
  min-height: 250px;
  min-width: 300px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
}
@media all and (max-width: 576px) {
  #g_map {
    width: unset;
  }
}
#g_map iframe {
  width: 90%;
  height: auto;
  min-width: 250px;
  min-height: 250px;
  border: unset;
}

.div_address {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  font-size: 1.1em;
  background-color: #fff;
  width: 100%;
}
.div_address img {
  max-width: 30%;
  max-height: 230px;
  border-radius: 5%;
  border: solid black 1px;
  box-shadow: 3px 2px 2px black;
  box-sizing: border-box;
  margin: 15px auto;
}
@media all and (max-width: 380px) {
  .div_address > img {
    display: none;
  }
}


.slider-auto-container {
  margin: 3% auto;
  border: solid #8a4784 1px;
  box-shadow: 2px 2px 4px #8a4784;
  max-width: 80%;
}
.slider-auto-container .slider-auto-horizontal {
  display: flex;
  animation: slider-auto 18s infinite ease-in-out;
  max-height: 300px;
}
.slider-auto-container .slider-auto-horizontal .slider-element {
  flex-shrink: 0;
  width: 100%;
  padding: 0;
  text-align: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: space-between;
}
.slider-auto-container .slider-auto-horizontal img.slider-element,
.slider-auto-container .slider-auto-horizontal .slider-element img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  min-width: 100%;
  max-height: 80%;
  margin: auto;
  border-top: solid 2px black;
  border-bottom: solid 5px black;
}
.slider-auto-container .slider-auto-horizontal .slider-element p {
  width: 100%;
  height: 100%;
  max-height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0 auto;
}

.card .arrow-div {
  width: 100%;
  position: relative;
  top: -140px;
}
.card .left-arrow,
.card .right-arrow {
  position: relative;
  right: 30%;
}
.card .right-arrow {
  left: 30%;
}
.card .bi.bi-caret-right,
.card .bi-caret-left {
  font-size: 30px;
  z-index: 1000;
}
.card .diapo-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 80%;
  margin: 0 auto;
  overflow: hidden;
}
.card .diapo {
  display: flex;
}
.card .diapo img {
  flex-shrink: 0;
  margin: 0 auto;
  width: 100%;
  min-width: 100%;
  padding: 0;
  text-align: center;
  background-color: transparent;
  left: unset !important;
}

@keyframes slider-auto {
  0%, 20% {
    transform: translateX(0);
  }
  25%, 45% {
    transform: translateX(-100%);
  }
  50%, 70% {
    transform: translateX(-200%);
  }
  75%, 95% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-400%);
  }
}
.slider-auto-container {
  overflow: hidden;
  margin: 3% auto;
  border: solid #8a4784 1px;
  box-shadow: 2px 2px 4px #8a4784;
  max-width: 80%;
}
.slider-auto-container .slider-auto-horizontal {
  display: flex;
  animation: slider-auto 25s infinite ease-in-out;
  max-height: 300px;
}
.slider-auto-container .slider-auto-horizontal .slider-element {
  flex-shrink: 0;
  width: 100%;
  padding: 0;
  text-align: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: space-between;
}
.slider-auto-container .slider-auto-horizontal img.slider-element,
.slider-auto-container .slider-auto-horizontal .slider-element img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  min-width: 100%;
  max-height: 80%;
  border-top: solid 2px black;
  border-bottom: solid 5px black;
}
.slider-auto-container .slider-auto-horizontal .slider-element p {
  width: 100%;
  height: 100%;
  border-right: solid 1px white;
  border-left: solid 1px white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0 auto;
}

@keyframes slider-auto {
  0%, 20% {
    transform: translateX(0);
  }
  25%, 45% {
    transform: translateX(-100%);
  }
  50%, 70% {
    transform: translateX(-200%);
  }
  75%, 95% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-400%);
  }
}
/* Menu */
/* Menu */
.btn-pink {
  text-align: center !important;
  color: white !important;
  background-color: #bf4080 !important;
  border: 5%;
}

.header_admin {
  background-color: unset;
  position: unset;
  width: unset;
  max-width: unset;
  min-width: unset;
}

.img-admin-list {
  max-height: 25vh;
  max-width: 98%;
  -o-object-fit: cover;
     object-fit: cover;
  box-sizing: border-box;
}

.puppies-admin-container > .card {
  min-height: 40vh;
  min-width: 270px;
}

.repros-admin-container > .bg-pink {
  background-color: #f0d1e0;
}

.repros-admin-container > .bg-blue {
  background-color: #c1e1ec;
}

.repros-admin-container > .card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  border: solid 3px black;
  padding: 2px;
  margin: 1%;
  max-height: 60vh;
  min-width: 370px;
}
.repros-admin-container > .card img {
  max-width: 80%;
}
.repros-admin-container > .card .btn-pink {
  text-align: center !important;
  color: white !important;
  background-color: #bf4080 !important;
  border: 5%;
}

.disable-filter {
  opacity: 0.5;
}

.dog-parents {
  overflow: hidden;
}
.dog-parents .dog-parents-img {
  overflow: hidden;
}
.dog-parents .mother-img {
  max-height: 10vh;
  border: solid 1px #C69;
  -o-object-fit: cover;
     object-fit: cover;
}
.dog-parents .father-img {
  max-height: 10vh;
  border: solid 1px lightblue;
  -o-object-fit: cover;
     object-fit: cover;
}
.dog-parents .litter-number {
  font-size: 0.9em;
}

html {
  font-size: 14px;
}

body {
  background-color: #1a1a1a;
  font-family: Serif;
  box-sizing: border-box;
}
body header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
body header .menu {
  margin-top: 0;
  padding-top: 2px;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  font-weight: bold;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
@media all and (max-width: 768px) {
  body header .menu {
    font-size: 0.9em;
  }
}
body header .menu .nav-link,
body header .menu .social {
  height: 58px;
  padding: 2px;
}
body header .menu .nav-link .bi,
body header .menu .social .bi {
  color: beige;
  font-size: xx-large;
}
body header .menu .nav-link .bi:hover,
body header .menu .social .bi:hover {
  color: goldenrod;
}
@media all and (max-width: 576px) {
  body header .menu .nav-link .bi,
  body header .menu .social .bi {
    font-size: x-large;
  }
}
body header .menu .nav-link {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  flex-wrap: nowrap;
  align-items: center;
}
body header .menu .social {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
body header .menu span {
  font-size: large;
}
@media all and (max-width: 768px) {
  body header .menu span {
    display: none;
  }
}
body header .menu .menu_link {
  color: #73264d;
  list-style-type: none;
  text-decoration: none;
  transition: all 0.3s ease-in;
  padding-right: 5px;
  padding-left: 5px;
}
@media all and (max-width: 325px) {
  body header .menu .menu_link {
    padding: 2px;
  }
}
@media all and (max-width: 300px) {
  body header .menu .menu_link {
    padding: 1px;
  }
}
@media all and (min-width: 992px) {
  body header .menu .menu_link {
    padding-left: 8px;
    padding-right: 8px;
  }
}
body header .menu .menu_link:hover {
  font-weight: bold;
  text-decoration: underline;
  transform: scale(1.1) translateY(-2px);
}
body header {
  background-color: #000;
  color: beige;
}
body header .menu {
  color: beige;
}
body header .menu .menu_link {
  color: beige;
}
body header .menu .menu_link:hover {
  color: goldenrod;
}

.container-fluid {
  margin-top: 58px;
  padding: 0;
}

main {
  background-color: #e6e6e6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1em auto;
  font-weight: bold;
  line-height: 1.3;
}

h1 {
  font-family: "Playfair Display", "Oswald", sans-serif;
  font-size: 2rem;
  text-align: center;
  text-shadow: 5px 5px 8px black;
  white-space: nowrap;
}
h1 span {
  white-space: nowrap;
}
h1 img {
  max-width: 48px;
  max-height: 48px;
  padding: 0;
}
@media all and (min-width: 576px) {
  h1 {
    font-size: 2rem;
  }
}
@media all and (min-width: 768px) {
  h1 {
    font-size: 2.3rem;
  }
}
@media all and (min-width: 992px) {
  h1 {
    font-size: 2.4rem;
  }
}
@media all and (min-width: 1200px) {
  h1 {
    font-size: 3.2rem;
  }
  h1 img {
    max-width: 68px;
    max-height: 68px;
  }
}

img {
  vertical-align: unset;
}

@media all and (max-width: 768px) {
  p {
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.bandeau_title {
  background-color: #8a4784;
  color: #FFC;
  padding: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  width: auto;
}
@media all and (max-width: 576px) {
  .bandeau_title section {
    padding-left: 15px;
    text-align: center;
    width: 100%;
  }
  .bandeau_title h1 {
    white-space: normal;
  }
}
.bandeau_title .logo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
@media all and (max-width: 768px) {
  .bandeau_title .logo {
    display: none;
  }
}
.bandeau_title .logo img {
  border: none;
  width: 154px;
  height: 101px;
}
.bandeau_title .logo .slogan {
  font-style: italic;
  font-family: "Oswald", sans-serif;
  text-shadow: 5px 5px 5px black;
  white-space: nowrap;
  font-size: 1.2rem;
}
.bandeau_title section {
  padding-left: 15px;
  text-align: center;
}
.bandeau_title section h2 {
  font-family: "Playfair Display", "Oswald", sans-serif;
  text-shadow: 5px 5px 5px black;
}
.bandeau_title section a {
  color: #FFC;
}/*# sourceMappingURL=main.css.map */