.carousel-item img, .div_address > img {
    max-width: 30%;
    max-height: 450px;

    border-radius: 5%;
    border: solid black 1px;
    box-shadow: 3px 2px 2px black;
    box-sizing: border-box;

    margin: 15px auto;
}


/* Carousel By Bootstrap  --- Need only rework some css rules not all -- just delete it to import bootstrap */

.carousel {
    position: relative;
  }



  .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .carousel-inner::after {
    display: block;
    clear: both;
    content: "";
  }

  .carousel-item {
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    backface-visibility: hidden;
    transition: transform 0.6s ease-in-out;

    /* display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; */
  }

  @media (prefers-reduced-motion: reduce) {
    .carousel-item {
      transition: none;
    }
  }

  .carousel-item.active {
    display: block;
  }


  .carousel-fade .carousel-item {
    opacity: 0;
    transition-property: opacity;
    transform: none;
  }

  .carousel-fade .carousel-item.active,
  .carousel-fade .carousel-item-next.carousel-item-left,
  .carousel-fade .carousel-item-prev.carousel-item-right {
    z-index: 1;
    opacity: 1;
  }

  .carousel-fade .active.carousel-item-left,
  .carousel-fade .active.carousel-item-right {
    z-index: 0;
    opacity: 0;
    transition: opacity 0s 0.6s;
  }

  @media (prefers-reduced-motion: reduce) {
    .carousel-fade .active.carousel-item-left,
    .carousel-fade .active.carousel-item-right {
      transition: none;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .carousel-control-prev,
    .carousel-control-next {
      transition: none;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .carousel-indicators li {
      transition: none;
    }
  }

  .carousel-caption {
    padding-bottom: 20px;
    text-align: center;
    font-weight: bold;
    margin: auto;
  }

