.menu {
    background-color: #000;
}
body {
    width: 98%;
}
.carousel-item img, .div_address > img {
    max-width: 30%;
    max-height: 450px;

    border-radius: 5%;
    border: solid black 1px;
    box-shadow: 3px 2px 2px black;
    box-sizing: border-box;

    margin: 15px auto;
}

address {
    margin: auto;
}


.bandeau_title > section {
    width: calc(100% - 101px);
    padding: unset;
    font-size: 1.7rem;
    text-decoration: underline;
    font-style: italic;
}

.bandeau_title > img {
    box-shadow: unset;
    margin-left: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
}
.content > section, .content > div {
    width: 100%;
    padding: 20px 0;
}


.where_is_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: #ecb7d2;
    color: rgb(71, 71, 71);

}
.where_is_container h4 {
    width: 100%;
    text-align: center;
    font-size: 2em;
    font-style: italic;
}
.where_is_content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    margin: auto;
}
.diapo_contact {
    box-sizing: border-box;
    width: 30%;
    min-width: 200px;

}
.diapo_contact img {
    width: 97%;
    min-width: unset;
    max-width: unset;
    height: auto;
    max-height: unset;
    min-height: unset;
}
#g_map {
    width: 40%;
    min-height: 250px;
    min-width: 300px;

    text-align: center;
    font-weight: bold;
    font-style: italic;
}
#g_map iframe{
    width: 90%;
    height: auto;
    min-width: 250px;
    min-height: 250px;


    border: unset;

}

.div_address {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    font-weight: bold;
    font-size: 1.1em;
}

.content .contact_buttons {
    background-color: grey;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    margin: 0 auto;
    padding: 30px 0;

    border-bottom: black solid 1px;
}

.btn {
    min-width: 160px;
    height: 30px;
}

@media all and (max-width : 650px)
{
    .where_is_content {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .diapo_contact {
        width: 50%;
    }
    #g_map {
        width: unset;
    }

}

@media all and (max-width : 470px)
{

    .bandeau_title > section {
      font-size: 1.2rem;
    }

    .btn {
        min-width: unset;
        width: 120px;
    }

    .div_address > img {
      display: none;
    }
    .fa-map-marker {
      text-indent: -10px;
    }

}

@media all and (max-width: 390px)
{
    .btn {
        font-size: 0.8em;
        width: 85px;
    }
}



/* Carousel By Bootstrap */

.carousel {
    position: relative;
  }
  
  .carousel.pointer-event {
    touch-action: pan-y;
  }
  
  .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .carousel-inner::after {
    display: block;
    clear: both;
    content: "";
  }
  
  .carousel-item {
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    backface-visibility: hidden;
    transition: transform 0.6s ease-in-out;

    /* display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; */
  }
  
  @media (prefers-reduced-motion: reduce) {
    .carousel-item {
      transition: none;
    }
  }
  
  .carousel-item.active {
    display: block;
  }
  
  
  .carousel-fade .carousel-item {
    opacity: 0;
    transition-property: opacity;
    transform: none;
  }
  
  .carousel-fade .carousel-item.active,
  .carousel-fade .carousel-item-next.carousel-item-left,
  .carousel-fade .carousel-item-prev.carousel-item-right {
    z-index: 1;
    opacity: 1;
  }
  
  .carousel-fade .active.carousel-item-left,
  .carousel-fade .active.carousel-item-right {
    z-index: 0;
    opacity: 0;
    transition: opacity 0s 0.6s;
  }
  
  @media (prefers-reduced-motion: reduce) {
    .carousel-fade .active.carousel-item-left,
    .carousel-fade .active.carousel-item-right {
      transition: none;
    }
  }
  
  @media (prefers-reduced-motion: reduce) {
    .carousel-control-prev,
    .carousel-control-next {
      transition: none;
    }
  }
  
  @media (prefers-reduced-motion: reduce) {
    .carousel-indicators li {
      transition: none;
    }
  }
  
  .carousel-caption {
    padding-bottom: 20px;
    text-align: center;
    font-weight: bold;
    margin: auto;
  }
  
